.projectLabel {
  background-color: rgba(255, 255, 255, 0.329);
  width: 400px;
  height: 170px;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.projectName {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bolder;
  height: 50px;
  font-size: 25px;
}

.projectLinks {
  background-color: black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

  height: 40px;
}
.projectLabelLink {
  border-radius: 10px;
  height: 35px;
  font-size: 20px;
  font-weight: 900;
  background-color: white;

  color: black;
  font-style: normal;
  text-decoration: none;
  display: block;
}

.triangleCorner {
  transform: rotate(-45deg);
  position: absolute;
  top: -7px;
  right: 77px;
}
.arrow-left {
  position: absolute;
  width: 120px;
  height: 120px;
  right: 20px;
  background: black;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 15px;
}

.cover {
  position: absolute;
  height: 120px;
  width: 45px;
  overflow: hidden;
}
.cornerLanguage {
  position: absolute;
  color: white;
  top: 3px;
  right: 5px;
  font-size: 16px;
  font-weight: bolder;
}
