:root {
  --color-Hover: rgb(200, 200, 200);
  --color-basic: rgb(100, 100, 100);
  --navTriangle-margin-top: 5px;
  --navTriangle-margin-bottom: 0;
  --navTriangle-size-border-big: 12px solid transparent;
  --navTriangle-size-border-small: 8px solid transparent;
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px 0px 40px;
  color: var(--color-basic);
  font-weight: 600;
  width: 70px;
  letter-spacing: 1px;

  border-right: 2px solid var(--color-basic);
}
.navItemHover {
  /* font-weight: bolder; */
  color: var(--color-Hover);
}
.navItemText {
  margin-top: 0px;
  padding: 2px;
  height: 20px;
  margin-bottom: 0px;
}
.navItemTextHover {
  color: var(--color-Hover);
  font-weight: 700;
  margin-top: -2px;
  margin-bottom: 2px;
}
.navItem:first-child {
  border-left: 2px solid var(--color-basic);
}
.navTriangle {
  margin-top: var(--navTriangle-margin-top);

  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid var(--color-basic);
  visibility: hidden;
}

.navTriangleHover {
  padding-bottom: 0;
  animation: bounceNavTriangleBottom 0.5s infinite;
  visibility: visible;
}

.navTriangleTop {
  margin-top: var(--navTriangle-margin-top);

  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-right: var(--navTriangle-size-border-small);
  border-left: var(--navTriangle-size-border-small);
  border-top: 8px solid var(--color-basic);
  visibility: hidden;
}

.navTriangleTopHover {
  padding-bottom: 0;
  animation: bounceNavTriangleTop 0.5s infinite;
  visibility: visible;
}

@keyframes bounceNavTriangleBottom {
  0% {
    border-right: var(--navTriangle-size-border-big);
    border-left: var(--navTriangle-size-border-big);

    border-bottom-color: var(--color-basic);
    margin-top: var(--navTriangle-margin-top);
    margin-bottom: var(--navTriangle-margin-bottom);
  }
  40% {
    border-right: var(--navTriangle-size-border-small);
    border-left: var(--navTriangle-size-border-small);

    border-bottom-color: var(--color-Hover);
    margin-top: var(--navTriangle-margin-bottom);
    margin-bottom: var(--navTriangle-margin-top);
  }
  100% {
    border-right: var(--navTriangle-size-border-big);
    border-left: var(--navTriangle-size-border-big);

    border-bottom-color: var(--color-basic);
    margin-top: var(--navTriangle-margin-top);
    margin-bottom: var(--navTriangle-margin-bottom);
  }
}

@keyframes bounceNavTriangleTop {
  0% {
    border-right: var(--navTriangle-size-border-big);
    border-left: var(--navTriangle-size-border-big);

    border-top-color: var(--color-basic);
    margin-top: var(--navTriangle-margin-bottom);
    margin-bottom: var(--navTriangle-margin-top);
  }
  40% {
    border-right: var(--navTriangle-size-border-small);
    border-left: var(--navTriangle-size-border-small);

    border-top-color: var(--color-Hover);
    margin-top: var(--navTriangle-margin-top);
    margin-bottom: var(--navTriangle-margin-bottom);
  }
  100% {
    border-right: var(--navTriangle-size-border-big);
    border-left: var(--navTriangle-size-border-big);

    border-top-color: var(--color-basic);
    margin-top: var(--navTriangle-margin-bottom);
    margin-bottom: var(--navTriangle-margin-top);
  }
}
